In [18]:
import pandas as pd
import numpy as np
import os
import orjson
import math

In [2]:
connection_durations = {'1-1': [(3.14, 192.584)],
 '2-1': [(2.9050000000000002, 192.584)],
 '3-1': [(3.109, 192.584)],
 '4-1': [(3.144, 192.584)],
 '5-1': [(2.896, 192.584)],
 '6-1': [(2.931, 192.584)],
 '7-1': [(3.112, 192.584)],
 '8-1': [(3.005, 192.584)],
 '1-2': [(3.049, 192.584)],
 '2-2': [(2.999, 192.584)],
 '3-2': [(36.743, 192.584)],
 '4-2': [(36.915, 192.584)],
 '5-2': [(36.777, 192.584)],
 '6-2': [(36.8, 192.584)],
 '7-2': [(36.748, 192.584)],
 '8-2': [(72.154, 192.584)],
 '1-3': [(72.176, 83.94),
  (91.07, 95.72),
  (102.351, 107.009),
  (120.441, 148.961),
  (155.744, 189.122)],
 '2-3': [(72.128, 83.94),
  (91.029, 95.651),
  (102.355, 107.002),
  (120.446, 149.272),
  (155.733, 189.651)],
 '3-3': [(72.068, 85.239),
  (91.985, 97.048),
  (103.795, 137.205),
  (144.533, 150.805),
  (156.113, 191.359)],
 '4-3': [(72.206, 85.237),
  (92.095, 97.806),
  (102.276, 109.138),
  (120.445, 149.302),
  (155.93, 189.594)],
 '5-3': [(107.869, 140.932), (148.012, 156.781), (173.371, 192.584)],
 '6-3': [(107.776, 141.069), (147.446, 156.672), (173.343, 192.584)],
 '7-3': [(107.782, 141.003), (147.332, 156.718), (173.333, 192.584)],
 '8-3': [(107.749, 140.878), (147.332, 156.672), (173.337, 192.584)],
 '1-4': [(110.533, 192.584)]}
intersections = {'1-1': {'2-1': [(3.14, 192.584)],
  '3-1': [(3.14, 192.584)],
  '4-1': [(3.144, 192.584)],
  '5-1': [(3.14, 192.584)],
  '6-1': [(3.14, 192.584)],
  '7-1': [(3.14, 192.584)],
  '8-1': [(3.14, 192.584)]},
 '2-1': {'1-1': [(3.14, 192.584)],
  '3-1': [(3.109, 192.584)],
  '4-1': [(3.144, 192.584)],
  '5-1': [(2.9050000000000002, 192.584)],
  '6-1': [(2.931, 192.584)],
  '7-1': [(3.112, 192.584)],
  '8-1': [(3.005, 192.584)]},
 '3-1': {'1-1': [(3.14, 192.584)],
  '2-1': [(3.109, 192.584)],
  '4-1': [(3.144, 192.584)],
  '5-1': [(3.109, 192.584)],
  '6-1': [(3.109, 192.584)],
  '7-1': [(3.112, 192.584)],
  '8-1': [(3.109, 192.584)]},
 '4-1': {'1-1': [(3.144, 192.584)],
  '2-1': [(3.144, 192.584)],
  '3-1': [(3.144, 192.584)],
  '5-1': [(3.144, 192.584)],
  '6-1': [(3.144, 192.584)],
  '7-1': [(3.144, 192.584)],
  '8-1': [(3.144, 192.584)]},
 '5-1': {'1-1': [(3.14, 192.584)],
  '2-1': [(2.9050000000000002, 192.584)],
  '3-1': [(3.109, 192.584)],
  '4-1': [(3.144, 192.584)],
  '6-1': [(2.931, 192.584)],
  '7-1': [(3.112, 192.584)],
  '8-1': [(3.005, 192.584)]},
 '6-1': {'1-1': [(3.14, 192.584)],
  '2-1': [(2.931, 192.584)],
  '3-1': [(3.109, 192.584)],
  '4-1': [(3.144, 192.584)],
  '5-1': [(2.931, 192.584)],
  '7-1': [(3.112, 192.584)],
  '8-1': [(3.005, 192.584)]},
 '7-1': {'1-1': [(3.14, 192.584)],
  '2-1': [(3.112, 192.584)],
  '3-1': [(3.112, 192.584)],
  '4-1': [(3.144, 192.584)],
  '5-1': [(3.112, 192.584)],
  '6-1': [(3.112, 192.584)],
  '8-1': [(3.112, 192.584)]},
 '8-1': {'1-1': [(3.14, 192.584)],
  '2-1': [(3.005, 192.584)],
  '3-1': [(3.109, 192.584)],
  '4-1': [(3.144, 192.584)],
  '5-1': [(3.005, 192.584)],
  '6-1': [(3.005, 192.584)],
  '7-1': [(3.112, 192.584)]},
 '1-2': {'2-2': [(3.049, 192.584)],
  '3-2': [(36.743, 192.584)],
  '4-2': [(36.915, 192.584)],
  '5-2': [(36.777, 192.584)],
  '6-2': [(36.8, 192.584)],
  '7-2': [(36.748, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '2-2': {'1-2': [(3.049, 192.584)],
  '3-2': [(36.743, 192.584)],
  '4-2': [(36.915, 192.584)],
  '5-2': [(36.777, 192.584)],
  '6-2': [(36.8, 192.584)],
  '7-2': [(36.748, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '3-2': {'1-2': [(36.743, 192.584)],
  '2-2': [(36.743, 192.584)],
  '4-2': [(36.915, 192.584)],
  '5-2': [(36.777, 192.584)],
  '6-2': [(36.8, 192.584)],
  '7-2': [(36.748, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '4-2': {'1-2': [(36.915, 192.584)],
  '2-2': [(36.915, 192.584)],
  '3-2': [(36.915, 192.584)],
  '5-2': [(36.915, 192.584)],
  '6-2': [(36.915, 192.584)],
  '7-2': [(36.915, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '5-2': {'1-2': [(36.777, 192.584)],
  '2-2': [(36.777, 192.584)],
  '3-2': [(36.777, 192.584)],
  '4-2': [(36.915, 192.584)],
  '6-2': [(36.8, 192.584)],
  '7-2': [(36.777, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '6-2': {'1-2': [(36.8, 192.584)],
  '2-2': [(36.8, 192.584)],
  '3-2': [(36.8, 192.584)],
  '4-2': [(36.915, 192.584)],
  '5-2': [(36.8, 192.584)],
  '7-2': [(36.8, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '7-2': {'1-2': [(36.748, 192.584)],
  '2-2': [(36.748, 192.584)],
  '3-2': [(36.748, 192.584)],
  '4-2': [(36.915, 192.584)],
  '5-2': [(36.777, 192.584)],
  '6-2': [(36.8, 192.584)],
  '8-2': [(72.154, 192.584)]},
 '8-2': {'1-2': [(72.154, 192.584)],
  '2-2': [(72.154, 192.584)],
  '3-2': [(72.154, 192.584)],
  '4-2': [(72.154, 192.584)],
  '5-2': [(72.154, 192.584)],
  '6-2': [(72.154, 192.584)],
  '7-2': [(72.154, 192.584)]},
 '1-3': {'2-3': [(72.176, 83.94),
   (91.07, 95.651),
   (102.355, 107.002),
   (120.446, 148.961),
   (155.744, 189.122)],
  '3-3': [(72.176, 83.94),
   (91.985, 95.72),
   (103.795, 107.009),
   (120.441, 137.205),
   (144.533, 148.961),
   (156.113, 189.122)],
  '4-3': [(72.206, 83.94),
   (92.095, 95.72),
   (102.351, 107.009),
   (120.445, 148.961),
   (155.93, 189.122)],
  '5-3': [(120.441, 140.932),
   (148.012, 148.961),
   (155.744, 156.781),
   (173.371, 189.122)],
  '6-3': [(120.441, 141.069),
   (147.446, 148.961),
   (155.744, 156.672),
   (173.343, 189.122)],
  '7-3': [(120.441, 141.003),
   (147.332, 148.961),
   (155.744, 156.718),
   (173.333, 189.122)],
  '8-3': [(120.441, 140.878),
   (147.332, 148.961),
   (155.744, 156.672),
   (173.337, 189.122)]},
 '2-3': {'1-3': [(72.176, 83.94),
   (91.07, 95.651),
   (102.355, 107.002),
   (120.446, 148.961),
   (155.744, 189.122)],
  '3-3': [(72.128, 83.94),
   (91.985, 95.651),
   (103.795, 107.002),
   (120.446, 137.205),
   (144.533, 149.272),
   (156.113, 189.651)],
  '4-3': [(72.206, 83.94),
   (92.095, 95.651),
   (102.355, 107.002),
   (120.446, 149.272),
   (155.93, 189.594)],
  '5-3': [(120.446, 140.932),
   (148.012, 149.272),
   (155.733, 156.781),
   (173.371, 189.651)],
  '6-3': [(120.446, 141.069),
   (147.446, 149.272),
   (155.733, 156.672),
   (173.343, 189.651)],
  '7-3': [(120.446, 141.003),
   (147.332, 149.272),
   (155.733, 156.718),
   (173.333, 189.651)],
  '8-3': [(120.446, 140.878),
   (147.332, 149.272),
   (155.733, 156.672),
   (173.337, 189.651)]},
 '3-3': {'1-3': [(72.176, 83.94),
   (91.985, 95.72),
   (103.795, 107.009),
   (120.441, 137.205),
   (144.533, 148.961),
   (156.113, 189.122)],
  '2-3': [(72.128, 83.94),
   (91.985, 95.651),
   (103.795, 107.002),
   (120.446, 137.205),
   (144.533, 149.272),
   (156.113, 189.651)],
  '4-3': [(72.206, 85.237),
   (92.095, 97.048),
   (103.795, 109.138),
   (120.445, 137.205),
   (144.533, 149.302),
   (156.113, 189.594)],
  '5-3': [(107.869, 137.205),
   (148.012, 150.805),
   (156.113, 156.781),
   (173.371, 191.359)],
  '6-3': [(107.776, 137.205),
   (147.446, 150.805),
   (156.113, 156.672),
   (173.343, 191.359)],
  '7-3': [(107.782, 137.205),
   (147.332, 150.805),
   (156.113, 156.718),
   (173.333, 191.359)],
  '8-3': [(107.749, 137.205),
   (147.332, 150.805),
   (156.113, 156.672),
   (173.337, 191.359)]},
 '4-3': {'1-3': [(72.206, 83.94),
   (92.095, 95.72),
   (102.351, 107.009),
   (120.445, 148.961),
   (155.93, 189.122)],
  '2-3': [(72.206, 83.94),
   (92.095, 95.651),
   (102.355, 107.002),
   (120.446, 149.272),
   (155.93, 189.594)],
  '3-3': [(72.206, 85.237),
   (92.095, 97.048),
   (103.795, 109.138),
   (120.445, 137.205),
   (144.533, 149.302),
   (156.113, 189.594)],
  '5-3': [(107.869, 109.138),
   (120.445, 140.932),
   (148.012, 149.302),
   (155.93, 156.781),
   (173.371, 189.594)],
  '6-3': [(107.776, 109.138),
   (120.445, 141.069),
   (147.446, 149.302),
   (155.93, 156.672),
   (173.343, 189.594)],
  '7-3': [(107.782, 109.138),
   (120.445, 141.003),
   (147.332, 149.302),
   (155.93, 156.718),
   (173.333, 189.594)],
  '8-3': [(107.749, 109.138),
   (120.445, 140.878),
   (147.332, 149.302),
   (155.93, 156.672),
   (173.337, 189.594)]},
 '5-3': {'1-3': [(120.441, 140.932),
   (148.012, 148.961),
   (155.744, 156.781),
   (173.371, 189.122)],
  '2-3': [(120.446, 140.932),
   (148.012, 149.272),
   (155.733, 156.781),
   (173.371, 189.651)],
  '3-3': [(107.869, 137.205),
   (148.012, 150.805),
   (156.113, 156.781),
   (173.371, 191.359)],
  '4-3': [(107.869, 109.138),
   (120.445, 140.932),
   (148.012, 149.302),
   (155.93, 156.781),
   (173.371, 189.594)],
  '6-3': [(107.869, 140.932), (148.012, 156.672), (173.371, 192.584)],
  '7-3': [(107.869, 140.932), (148.012, 156.718), (173.371, 192.584)],
  '8-3': [(107.869, 140.878), (148.012, 156.672), (173.371, 192.584)]},
 '6-3': {'1-3': [(120.441, 141.069),
   (147.446, 148.961),
   (155.744, 156.672),
   (173.343, 189.122)],
  '2-3': [(120.446, 141.069),
   (147.446, 149.272),
   (155.733, 156.672),
   (173.343, 189.651)],
  '3-3': [(107.776, 137.205),
   (147.446, 150.805),
   (156.113, 156.672),
   (173.343, 191.359)],
  '4-3': [(107.776, 109.138),
   (120.445, 141.069),
   (147.446, 149.302),
   (155.93, 156.672),
   (173.343, 189.594)],
  '5-3': [(107.869, 140.932), (148.012, 156.672), (173.371, 192.584)],
  '7-3': [(107.782, 141.003), (147.446, 156.672), (173.343, 192.584)],
  '8-3': [(107.776, 140.878), (147.446, 156.672), (173.343, 192.584)]},
 '7-3': {'1-3': [(120.441, 141.003),
   (147.332, 148.961),
   (155.744, 156.718),
   (173.333, 189.122)],
  '2-3': [(120.446, 141.003),
   (147.332, 149.272),
   (155.733, 156.718),
   (173.333, 189.651)],
  '3-3': [(107.782, 137.205),
   (147.332, 150.805),
   (156.113, 156.718),
   (173.333, 191.359)],
  '4-3': [(107.782, 109.138),
   (120.445, 141.003),
   (147.332, 149.302),
   (155.93, 156.718),
   (173.333, 189.594)],
  '5-3': [(107.869, 140.932), (148.012, 156.718), (173.371, 192.584)],
  '6-3': [(107.782, 141.003), (147.446, 156.672), (173.343, 192.584)],
  '8-3': [(107.782, 140.878), (147.332, 156.672), (173.337, 192.584)]},
 '8-3': {'1-3': [(120.441, 140.878),
   (147.332, 148.961),
   (155.744, 156.672),
   (173.337, 189.122)],
  '2-3': [(120.446, 140.878),
   (147.332, 149.272),
   (155.733, 156.672),
   (173.337, 189.651)],
  '3-3': [(107.749, 137.205),
   (147.332, 150.805),
   (156.113, 156.672),
   (173.337, 191.359)],
  '4-3': [(107.749, 109.138),
   (120.445, 140.878),
   (147.332, 149.302),
   (155.93, 156.672),
   (173.337, 189.594)],
  '5-3': [(107.869, 140.878), (148.012, 156.672), (173.371, 192.584)],
  '6-3': [(107.776, 140.878), (147.446, 156.672), (173.343, 192.584)],
  '7-3': [(107.782, 140.878), (147.332, 156.672), (173.337, 192.584)]}}

In [3]:
index = "loadtest-webrtc-2024-kurento-8p"
index_qoe_df = pd.DataFrame()
for entry in os.scandir(f"qoe/{index}"):
    if entry.is_file():
        with open(f"qoe/{index}/{entry.name}", 'r') as f:
            qoe = orjson.loads(f.read())
        qoe_df = pd.DataFrame.from_dict(qoe)
        info = entry.name.split("_")[0].split("-")
        session = info[1]
        userRecording = info[2]
        userBeingRecorded = info[3]
        qoe_df["userRecording"] = userRecording
        qoe_df["userBeingRecorded"] = userBeingRecorded
        qoe_df["session"] = session
        if index_qoe_df.empty:
            index_qoe_df = qoe_df
        else:
            index_qoe_df = pd.concat([index_qoe_df, qoe_df])

index_qoe_df["session"] = index_qoe_df["session"].str.replace("LoadTestSession", "")
index_qoe_df["userRecording"] = index_qoe_df["userRecording"].str.replace("User", "")
index_qoe_df["userBeingRecorded"] = index_qoe_df["userBeingRecorded"].str.replace("User", "")
index_qoe_df["full_user_recording"] = index_qoe_df["userRecording"] + "-" + index_qoe_df["session"]
index_qoe_df["full_user_being_recorded"] = index_qoe_df["userBeingRecorded"] + "-" + index_qoe_df["session"]
index_qoe_df = index_qoe_df.drop(columns=["userRecording", "userBeingRecorded", "session"]).reset_index(drop=True)
display(index_qoe_df)

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded
0,0.0,0.823537,0.886623,1-1,2-1
1,1.0,0.807515,0.898297,1-1,2-1
2,2.0,0.808814,0.900225,1-1,2-1
3,3.0,0.802590,0.796835,1-1,2-1
4,4.0,0.792418,0.803265,1-1,2-1
...,...,...,...,...,...
849,3.0,0.809690,0.883743,8-2,6-2
850,0.0,0.795780,0.882103,8-2,7-2
851,1.0,0.807355,0.801035,8-2,7-2
852,2.0,0.808420,0.887810,8-2,7-2
853,3.0,0.808873,0.891325,8-2,7-2

In [7]:
# for user recording
def set_frag_start_end(index_qoe_df, bi_intersections, fragment_duration, indexes):
    start = bi_intersections[0][0]
    end = bi_intersections[0][1]
    set_frag_start_end_aux(index_qoe_df, bi_intersections, fragment_duration, indexes, start, end, 0, 0)

def set_frag_start_end_aux(index_qoe_df, bi_intersections, fragment_duration, indexes, start, end, inters_j, index_i):
    if index_i < len(indexes):
        index = indexes[index_i]
        frag_end_time = start + fragment_duration
        if frag_end_time < end or math.isclose(frag_end_time, end, rel_tol=1e-9):
            index_qoe_df.loc[index, "start"] = start
            index_qoe_df.loc[index, "end"] = frag_end_time
            index_qoe_df.loc[index, "fragment_duration"] = fragment_duration
            start = frag_end_time
            set_frag_start_end_aux(index_qoe_df, bi_intersections, fragment_duration, indexes, start, end, inters_j, index_i + 1)
        else:
            j = inters_j + 1
            start = bi_intersections[j][0]
            end = bi_intersections[j][1]
            set_frag_start_end_aux(index_qoe_df, bi_intersections, fragment_duration, indexes, start, end, inters_j + 1, index_i)

for full_user in intersections.keys():
    qoe = index_qoe_df[index_qoe_df["full_user_recording"] == full_user]
    intersections_user = intersections[full_user]
    # for user being recorded
    for full_user_being_recorded in intersections_user.keys():
        qoe_being_recorded = qoe.loc[index_qoe_df["full_user_being_recorded"] == full_user_being_recorded]
        bi_intersections = intersections_user[full_user_being_recorded]
        con_duration = 0
        for intersection in bi_intersections:
            con_duration += intersection[1] - intersection[0]
        max_cut_index = qoe_being_recorded["cut_index"].max() + 1
        fragment_duration = con_duration / max_cut_index
        set_frag_start_end(index_qoe_df, bi_intersections, fragment_duration, qoe_being_recorded.index)

display(index_qoe_df)

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
0,0.0,0.823537,0.886623,1-1,2-1,3.1400,22.0844,18.9444
1,1.0,0.807515,0.898297,1-1,2-1,22.0844,41.0288,18.9444
2,2.0,0.808814,0.900225,1-1,2-1,41.0288,59.9732,18.9444
3,3.0,0.802590,0.796835,1-1,2-1,59.9732,78.9176,18.9444
4,4.0,0.792418,0.803265,1-1,2-1,78.9176,97.8620,18.9444
...,...,...,...,...,...,...,...,...
849,3.0,0.809690,0.883743,8-2,6-2,162.4765,192.5840,30.1075
850,0.0,0.795780,0.882103,8-2,7-2,72.1540,102.2615,30.1075
851,1.0,0.807355,0.801035,8-2,7-2,102.2615,132.3690,30.1075
852,2.0,0.808420,0.887810,8-2,7-2,132.3690,162.4765,30.1075
853,3.0,0.808873,0.891325,8-2,7-2,162.4765,192.5840,30.1075

In [31]:
user = "1-1"
qoe = index_qoe_df[index_qoe_df["full_user_recording"] == user]
qoe = qoe.sort_values(by=["start"])
qoe["start"] = qoe["start"].round(decimals=5)
qoe["end"] = qoe["end"].round(decimals=5)
times = qoe["start"].unique()
times = np.append(times, qoe["end"].unique())
times = np.sort(np.unique(times))
display(times)
for i in range(len(times)-1):
    time = times[i]
    next_time = times[i+1]
    qoe_time = qoe[(qoe["start"] == time) | (qoe["end"] == time)]
    display(qoe_time)

array([  3.14  ,   3.144 ,  22.0844,  26.8205,  26.824 ,  41.0288,
        50.501 ,  50.504 ,  59.9732,  74.1815,  74.184 ,  78.9176,
        97.862 ,  97.864 , 116.8064, 121.5425, 121.544 , 135.7508,
       145.223 , 145.224 , 154.6952, 168.9035, 168.904 , 173.6396,
       192.584 ])

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
0,0.0,0.823537,0.886623,1-1,2-1,3.14,22.0844,18.9444
56,0.0,0.821718,0.881730,1-1,8-1,3.14,22.0844,18.9444
36,0.0,0.808598,0.875230,1-1,6-1,3.14,22.0844,18.9444
46,0.0,0.821493,0.875710,1-1,7-1,3.14,22.0844,18.9444
26,0.0,0.822045,0.880222,1-1,5-1,3.14,22.0844,18.9444
10,0.0,0.811589,0.889997,1-1,3-1,3.14,26.8205,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
18,0.0,0.812031,0.8421,1-1,4-1,3.144,26.824,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
0,0.0,0.823537,0.886623,1-1,2-1,3.1400,22.0844,18.9444
56,0.0,0.821718,0.881730,1-1,8-1,3.1400,22.0844,18.9444
36,0.0,0.808598,0.875230,1-1,6-1,3.1400,22.0844,18.9444
46,0.0,0.821493,0.875710,1-1,7-1,3.1400,22.0844,18.9444
26,0.0,0.822045,0.880222,1-1,5-1,3.1400,22.0844,18.9444
1,1.0,0.807515,0.898297,1-1,2-1,22.0844,41.0288,18.9444
57,1.0,0.806909,0.880963,1-1,8-1,22.0844,41.0288,18.9444
37,1.0,0.805996,0.905130,1-1,6-1,22.0844,41.0288,18.9444
47,1.0,0.807854,0.899655,1-1,7-1,22.0844,41.0288,18.9444
27,1.0,0.807381,0.853322,1-1,5-1,22.0844,41.0288,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
10,0.0,0.811589,0.889997,1-1,3-1,3.1400,26.8205,23.6805
11,1.0,0.806476,0.898810,1-1,3-1,26.8205,50.5010,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
18,0.0,0.812031,0.842100,1-1,4-1,3.144,26.824,23.68
19,1.0,0.807761,0.875647,1-1,4-1,26.824,50.504,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
1,1.0,0.807515,0.898297,1-1,2-1,22.0844,41.0288,18.9444
57,1.0,0.806909,0.880963,1-1,8-1,22.0844,41.0288,18.9444
37,1.0,0.805996,0.905130,1-1,6-1,22.0844,41.0288,18.9444
47,1.0,0.807854,0.899655,1-1,7-1,22.0844,41.0288,18.9444
27,1.0,0.807381,0.853322,1-1,5-1,22.0844,41.0288,18.9444
48,2.0,0.807953,0.894530,1-1,7-1,41.0288,59.9732,18.9444
58,2.0,0.808387,0.890813,1-1,8-1,41.0288,59.9732,18.9444
38,2.0,0.808515,0.877125,1-1,6-1,41.0288,59.9732,18.9444
2,2.0,0.808814,0.900225,1-1,2-1,41.0288,59.9732,18.9444
28,2.0,0.809095,0.794755,1-1,5-1,41.0288,59.9732,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
11,1.0,0.806476,0.898810,1-1,3-1,26.8205,50.5010,23.6805
12,2.0,0.809358,0.882243,1-1,3-1,50.5010,74.1815,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
19,1.0,0.807761,0.875647,1-1,4-1,26.824,50.504,23.68
20,2.0,0.809408,0.892737,1-1,4-1,50.504,74.184,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
48,2.0,0.807953,0.894530,1-1,7-1,41.0288,59.9732,18.9444
58,2.0,0.808387,0.890813,1-1,8-1,41.0288,59.9732,18.9444
38,2.0,0.808515,0.877125,1-1,6-1,41.0288,59.9732,18.9444
2,2.0,0.808814,0.900225,1-1,2-1,41.0288,59.9732,18.9444
28,2.0,0.809095,0.794755,1-1,5-1,41.0288,59.9732,18.9444
39,3.0,0.795763,0.807238,1-1,6-1,59.9732,78.9176,18.9444
3,3.0,0.802590,0.796835,1-1,2-1,59.9732,78.9176,18.9444
59,3.0,0.797866,0.830958,1-1,8-1,59.9732,78.9176,18.9444
29,3.0,0.809772,0.857608,1-1,5-1,59.9732,78.9176,18.9444
49,3.0,0.804675,0.757220,1-1,7-1,59.9732,78.9176,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
12,2.0,0.809358,0.882243,1-1,3-1,50.5010,74.1815,23.6805
13,3.0,0.809872,0.825400,1-1,3-1,74.1815,97.8620,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
20,2.0,0.809408,0.892737,1-1,4-1,50.504,74.184,23.68
21,3.0,0.816060,0.844285,1-1,4-1,74.184,97.864,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
39,3.0,0.795763,0.807238,1-1,6-1,59.9732,78.9176,18.9444
3,3.0,0.802590,0.796835,1-1,2-1,59.9732,78.9176,18.9444
59,3.0,0.797866,0.830958,1-1,8-1,59.9732,78.9176,18.9444
29,3.0,0.809772,0.857608,1-1,5-1,59.9732,78.9176,18.9444
49,3.0,0.804675,0.757220,1-1,7-1,59.9732,78.9176,18.9444
4,4.0,0.792418,0.803265,1-1,2-1,78.9176,97.8620,18.9444
50,4.0,0.810049,0.825522,1-1,7-1,78.9176,97.8620,18.9444
30,4.0,0.808679,0.853990,1-1,5-1,78.9176,97.8620,18.9444
40,4.0,0.812623,0.759980,1-1,6-1,78.9176,97.8620,18.9444
60,4.0,0.809570,0.800302,1-1,8-1,78.9176,97.8620,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
13,3.0,0.809872,0.825400,1-1,3-1,74.1815,97.8620,23.6805
4,4.0,0.792418,0.803265,1-1,2-1,78.9176,97.8620,18.9444
50,4.0,0.810049,0.825522,1-1,7-1,78.9176,97.8620,18.9444
30,4.0,0.808679,0.853990,1-1,5-1,78.9176,97.8620,18.9444
40,4.0,0.812623,0.759980,1-1,6-1,78.9176,97.8620,18.9444
60,4.0,0.809570,0.800302,1-1,8-1,78.9176,97.8620,18.9444
14,4.0,0.809098,0.851512,1-1,3-1,97.8620,121.5425,23.6805
5,5.0,0.800810,0.794412,1-1,2-1,97.8620,116.8064,18.9444
31,5.0,0.802677,0.715055,1-1,5-1,97.8620,116.8064,18.9444
61,5.0,0.792757,0.753925,1-1,8-1,97.8620,116.8064,18.9444
51,5.0,0.797083,0.747260,1-1,7-1,97.8620,116.8064,18.9444
41,5.0,0.781023,0.686275,1-1,6-1,97.8620,116.8064,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
21,3.0,0.816060,0.844285,1-1,4-1,74.184,97.864,23.68
22,4.0,0.807646,0.875002,1-1,4-1,97.864,121.544,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
5,5.0,0.800810,0.794412,1-1,2-1,97.8620,116.8064,18.9444
31,5.0,0.802677,0.715055,1-1,5-1,97.8620,116.8064,18.9444
61,5.0,0.792757,0.753925,1-1,8-1,97.8620,116.8064,18.9444
51,5.0,0.797083,0.747260,1-1,7-1,97.8620,116.8064,18.9444
41,5.0,0.781023,0.686275,1-1,6-1,97.8620,116.8064,18.9444
52,6.0,0.809707,0.807883,1-1,7-1,116.8064,135.7508,18.9444
62,6.0,0.797584,0.805450,1-1,8-1,116.8064,135.7508,18.9444
32,6.0,0.810132,0.774333,1-1,5-1,116.8064,135.7508,18.9444
6,6.0,0.803104,0.892315,1-1,2-1,116.8064,135.7508,18.9444
42,6.0,0.808844,0.787727,1-1,6-1,116.8064,135.7508,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
14,4.0,0.809098,0.851512,1-1,3-1,97.8620,121.5425,23.6805
15,5.0,0.774750,0.732370,1-1,3-1,121.5425,145.2230,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
22,4.0,0.807646,0.875002,1-1,4-1,97.864,121.544,23.68
23,5.0,0.806275,0.882262,1-1,4-1,121.544,145.224,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
52,6.0,0.809707,0.807883,1-1,7-1,116.8064,135.7508,18.9444
62,6.0,0.797584,0.805450,1-1,8-1,116.8064,135.7508,18.9444
32,6.0,0.810132,0.774333,1-1,5-1,116.8064,135.7508,18.9444
6,6.0,0.803104,0.892315,1-1,2-1,116.8064,135.7508,18.9444
42,6.0,0.808844,0.787727,1-1,6-1,116.8064,135.7508,18.9444
43,7.0,0.809373,0.766860,1-1,6-1,135.7508,154.6952,18.9444
63,7.0,0.802608,0.871233,1-1,8-1,135.7508,154.6952,18.9444
7,7.0,0.805196,0.905363,1-1,2-1,135.7508,154.6952,18.9444
33,7.0,0.809528,0.871635,1-1,5-1,135.7508,154.6952,18.9444
53,7.0,0.809531,0.883485,1-1,7-1,135.7508,154.6952,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
15,5.0,0.774750,0.732370,1-1,3-1,121.5425,145.2230,23.6805
16,6.0,0.807152,0.776742,1-1,3-1,145.2230,168.9035,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
23,5.0,0.806275,0.882262,1-1,4-1,121.544,145.224,23.68
24,6.0,0.810373,0.900133,1-1,4-1,145.224,168.904,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
43,7.0,0.809373,0.766860,1-1,6-1,135.7508,154.6952,18.9444
63,7.0,0.802608,0.871233,1-1,8-1,135.7508,154.6952,18.9444
7,7.0,0.805196,0.905363,1-1,2-1,135.7508,154.6952,18.9444
33,7.0,0.809528,0.871635,1-1,5-1,135.7508,154.6952,18.9444
53,7.0,0.809531,0.883485,1-1,7-1,135.7508,154.6952,18.9444
8,8.0,0.806351,0.895333,1-1,2-1,154.6952,173.6396,18.9444
54,8.0,0.809726,0.884138,1-1,7-1,154.6952,173.6396,18.9444
64,8.0,0.805900,0.866130,1-1,8-1,154.6952,173.6396,18.9444
34,8.0,0.806440,0.749302,1-1,5-1,154.6952,173.6396,18.9444
44,8.0,0.810962,0.891595,1-1,6-1,154.6952,173.6396,18.9444

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
16,6.0,0.807152,0.776742,1-1,3-1,145.2230,168.9035,23.6805
17,7.0,0.810364,0.805397,1-1,3-1,168.9035,192.5840,23.6805

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
24,6.0,0.810373,0.900133,1-1,4-1,145.224,168.904,23.68
25,7.0,0.807627,0.878925,1-1,4-1,168.904,192.584,23.68

,cut_index,vmaf,visqol,full_user_recording,full_user_being_recorded,start,end,fragment_duration
8,8.0,0.806351,0.895333,1-1,2-1,154.6952,173.6396,18.9444
54,8.0,0.809726,0.884138,1-1,7-1,154.6952,173.6396,18.9444
64,8.0,0.805900,0.866130,1-1,8-1,154.6952,173.6396,18.9444
34,8.0,0.806440,0.749302,1-1,5-1,154.6952,173.6396,18.9444
44,8.0,0.810962,0.891595,1-1,6-1,154.6952,173.6396,18.9444
9,9.0,0.808563,0.887650,1-1,2-1,173.6396,192.5840,18.9444
35,9.0,0.809802,0.744883,1-1,5-1,173.6396,192.5840,18.9444
45,9.0,0.809882,0.899403,1-1,6-1,173.6396,192.5840,18.9444
55,9.0,0.809735,0.875575,1-1,7-1,173.6396,192.5840,18.9444
65,9.0,0.805424,0.796585,1-1,8-1,173.6396,192.5840,18.9444